#app {
	text-align: center;
	position: fixed;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -10%);
}

#tableDiv {
	display:inline-block;
	text-align: center;
}

.black {
	background-color: white;
}

.green {
	background-image: url(../img/mole.png);
}

table {
	margin-top: 10px;
	border-collapse: collapse;
}

td {
	width: 50px;
	height: 50px;
	border: 1px solid #CCC;
}